<script type="text/javascript">
    RED.nodes.registerType('Read-folder',{
        category: 'HUB Davivienda',
        color: '#C0DEED',
        defaults: {
            name: {value:"Read Folder"},
            dbhost: {value:"207.246.248.39"},
            dbname: {value:"687622_dbcentral"},
            dbusername: {value:"687622_dbcentral"},
            dbpassword: {value:"123456Poi"},
            limit: {value:"20"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"Read-folder";
        }
    });
</script>

<script type="text/x-red" data-template-name="Read-folder">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    
</script>

<script type="text/x-red" data-help-name="Read-folder">
    <p>A simple node that list all domains available in W-Dev</p>
</script>