<script type="text/javascript">
    RED.nodes.registerType('Update-folder', {
        category: 'HUB Davivienda',
        color: '#E2D96E',
        defaults: {
            name: {value: "Update Folder"},
            dbhost: {value: "207.246.248.39"},
            dbname: {value: "687622_dbcentral"},
            dbusername: {value: "687622_dbcentral"},
            dbpassword: {value: "123456Poi"},
            limit: {value: ""}
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "Update-folder";
        }
    });
</script>

<script type="text/x-red" data-template-name="Update-folder">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-dbhost"><i class="icon-tag"></i> DB Host</label>
        <input type="text" id="node-input-dbhost" placeholder="DB Host">
    </div>
    <div class="form-row">
        <label for="node-input-dbname"><i class="icon-tag"></i> DB Name</label>
        <input type="text" id="node-input-dbname" placeholder="DB Name">
    </div>
    <div class="form-row">
        <label for="node-input-dbusername"><i class="icon-tag"></i> DB UserName</label>
        <input type="text" id="node-input-dbusername" placeholder="DB Username">
    </div>
    <div class="form-row">
        <label for="node-input-dbpassword"><i class="icon-tag"></i> DB Password</label>
        <input type="text" id="node-input-dbpassword" placeholder="DB Password">
    </div>
    <div class="form-row">
        <label for="node-input-limit"><i class="icon-tag"></i> Records per page</label>
        <input type="text" id="node-input-limit" placeholder="Records per page">
    </div>

</script>

<script type="text/x-red" data-help-name="Update-folder">
    <p>A simple node that list all domains available in W-Dev</p>

</script>